.home{
    background:#D3D3D3;
    margin-top:200px;
    padding: 70px 0; border: 3px solid rgb(17, 13, 3); text-align: center; 
    font-weight:500; font-size:25px; color: #0069c0;
    display:block;
    border-radius: 10px; width: 100%; height: 100%;
}
